.RangeJS-container{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAECAYAAACDQW/RAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABpJREFUGNNjTEtL+5+ZnsFAKWBioBIYfAYBANv2A3GA7CSCAAAAAElFTkSuQmCC);
    position: relative;
    height: 4px;
    margin: 2.6em auto;
}
.RangeJS-indicator {
    background-color: #ff0000;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: .5;
}
.RangeJS-indicator.__ii{
    background-color: orange;
}
.RangeJS-indicator.__iii{
    background-color: yellow;
}
.RangeJS-indicator.__iiii{
    background-color: green;
}
.RangeJS-label {
    color: white;
    cursor: pointer;
    text-align: center;
    height: 29px;
    position: absolute;
    bottom: 100%;
    min-width: 35px;
    line-height: 24px;
    white-space: nowrap;
    outline: none;

    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: text !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
.RangeJS-label:active{
    z-index: 1;
}
.RangeJS-label.__left {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAdCAYAAAAgqdWEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAW1JREFUeNpiZGBgYAJiDiDmB2IeKJuZgfrgPxAzIvH/AvEPIP4CxB9BbBYgwWlubu4pISGRxMPDo8/FxSXJCARUdwkQIJsL4n/79u35ly9fLr548WLeyZMnt4Mcwwd0SKq4uLgbAw0BugdBfG5ubikQhsbEUVAU8fHz8xsxDCCA2s8Hcgw7EAgOpGOg9rMzQUOMeSAdA7WfkQkthQ+om5gYBhEYdcyoY0YdM+qYUccMpGP+DSbH/Pzx48ebweKYTx8/fjw3GBwDanZ+ArZBZ4MayKA2MLQZOGCO+Q5sDG8DtUGhvQNOGiZsNmNjY18jI6NKbA06FmgC/gbFJIO0tDSi1c6aNYv57NmzT4AxwKeurp43oFkb6HBQX+nVwYMHJzx79mzbgJczQAf9AVJPt2zZUvzu3btzA17oAR30C0g93LNnT/bXr18fQ4X/DGQJ/OPDhw9Xjhw5kgx00HEg/8NA9wwYobmXHZSrAQIMAAbKbV9i9VsdAAAAAElFTkSuQmCC) no-repeat;
}
.RangeJS-units{
    font-size: .8em;
    letter-spacing: .1em
}
.RangeJS-label.__right{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAdCAYAAAAgqdWEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNrsl8FKhEAYx0d3YVsVpdNaLxF08Q2CXqPIS8ceomuXCDz0EkldvAhG7EEh6OQtIrMI0VCz2G37D8xWVMtCrYwH//B3vjk482Pmm2E+gRAiwkuwBiss7pBPTWCBLF5juIJzOKNxF5++YRibuq5vKYqyJknSigB9kEBf+4sSHbcsy7s8zy/jOD4eDodnFEYFyM5gMNj47ac6QKbjyrK8Ss124pxukapp2jrhKDa/SmF60DJPGDZ/T2Qr1uEJw+YXxJpOyp+YRNIgtTAtTAvTwrQwLQwhb42AqarqEc1LI2CyLAvQPHV5QhRFEU3fwDNh8FYeB0Gw7/v+CbqvdeUI/Py9OvihMAwPAXKE8J6VFDNlmua/iCzLmn2aoig6dV33AOHDPJBaj3aSJIFt23sIb+ERj3tmxJLpxnGcXYTXNebJXJgUIBee522naXrFSk4+L3JWW/fppcOye8IL5l2AAQD1WHtRHk0aRwAAAABJRU5ErkJggg==) no-repeat;
}
.RangeJS-endPoints{
    position: absolute;
    bottom: 100%;
    margin: 5px 0 0 0;
    font-size: .8em;
    letter-spacing: .1em;
}
.RangeJS-endPoints.__left{
    right: 100%
}
.RangeJS-endPoints.__right{
    left: 100%
}




/*inversed*/
.RangeJS-container.__inverse .RangeJS-indicator{
}
.RangeJS-container.__inverse .RangeJS-label.__left {
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAdCAYAAAAgqdWEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNrsl8FKhEAYx0d3YVsVpdNaLxF08Q2CXqPIS8ceomuXCDz0EkldvAhG7EEh6OQtIrMI0VCz2G37D8xWVMtCrYwH//B3vjk482Pmm2E+gRAiwkuwBiss7pBPTWCBLF5juIJzOKNxF5++YRibuq5vKYqyJknSigB9kEBf+4sSHbcsy7s8zy/jOD4eDodnFEYFyM5gMNj47ac6QKbjyrK8Ss124pxukapp2jrhKDa/SmF60DJPGDZ/T2Qr1uEJw+YXxJpOyp+YRNIgtTAtTAvTwrQwLQwhb42AqarqEc1LI2CyLAvQPHV5QhRFEU3fwDNh8FYeB0Gw7/v+CbqvdeUI/Py9OvihMAwPAXKE8J6VFDNlmua/iCzLmn2aoig6dV33AOHDPJBaj3aSJIFt23sIb+ERj3tmxJLpxnGcXYTXNebJXJgUIBee522naXrFSk4+L3JWW/fppcOye8IL5l2AAQD1WHtRHk0aRwAAAABJRU5ErkJggg==) no-repeat;*/
}

.RangeJS-container.__inverse .RangeJS-label.__right{
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAdCAYAAAAgqdWEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAW1JREFUeNpiZGBgYAJiDiDmB2IeKJuZgfrgPxAzIvH/AvEPIP4CxB9BbBYgwWlubu4pISGRxMPDo8/FxSXJCARUdwkQIJsL4n/79u35ly9fLr548WLeyZMnt4Mcwwd0SKq4uLgbAw0BugdBfG5ubikQhsbEUVAU8fHz8xsxDCCA2s8Hcgw7EAgOpGOg9rMzQUOMeSAdA7WfkQkthQ+om5gYBhEYdcyoY0YdM+qYUccMpGP+DSbH/Pzx48ebweKYTx8/fjw3GBwDanZ+ArZBZ4MayKA2MLQZOGCO+Q5sDG8DtUGhvQNOGiZsNmNjY18jI6NKbA06FmgC/gbFJIO0tDSi1c6aNYv57NmzT4AxwKeurp43oFkb6HBQX+nVwYMHJzx79mzbgJczQAf9AVJPt2zZUvzu3btzA17oAR30C0g93LNnT/bXr18fQ4X/DGQJ/OPDhw9Xjhw5kgx00HEg/8NA9wwYobmXHZSrAQIMAAbKbV9i9VsdAAAAAElFTkSuQmCC) no-repeat;*/
}